.divSearch, .divData{
    width: 97.5%;
    height: fit-content;
    border-width: 0 2px 5px 0; /* top right bottom left */
    border-style: none solid solid none;
    border-color: rgba(0, 0, 0, 0) black black rgba(0, 0, 0, 0);
    border-radius: 0 10px 10px 10px;
    padding: 5px;
}

body {
    background-image: url("/assets/images/bg-book-notes.jpg");
    background-size: 100% 100%; /*lenght width*/
    background-attachment: fixed;
    background-position: center center;
}

h1{
    color: black;
}
.divNav{
    background-image: url("/assets/images/bg-book-notes.jpg");
    background-size: 100% 100%;
    background-attachment: fixed; /*it behaves like the position: fixed*/
    background-position: center center;
    width: 100vw;
    position: fixed;
    top: 0; /*postion to topmost of the screen*/
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border-width: 0 0 2px 0; /* top right bottom left */
    border-style: none none solid none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) black rgba(0, 0, 0, 0);
    padding-bottom: 5px;
}

.divSearchBack div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.divNew{
    min-width: 100vw;
    min-height: 90vh;/*min-height so footer dont overlap to the content*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.divNewSearch{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 0 2px 5px 0; /* top right bottom left */
    border-style: none solid solid none;
    border-color: rgba(0, 0, 0, 0) black black rgba(0, 0, 0, 0);
    border-radius: 0 10px 10px 10px;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    gap: 5px;
}

.divNewSearch div{
    display: flex;
    flex-direction: column;
    align-items:flex-end;/*Position at the end of y-axis*/
    gap: 5px;
}

textarea{
    order: -1;/*to position first in the container*/
}
input[name="myRating"], button[type="submit"]{/* attribute selector*/
    height: fit-content;
}
input[name="myRating"]{
    width: fit-content;
}
h4, h5, p {
    margin: 0%;
}

.divNewButton{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.divNewButton > div { /*child*/
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.bookCover{
    float: left; /*wrap text around the image(bookCover)*/
    width: 100px;
    height: 150px;
    margin-right: 5px;
}
.bookCoverEdit{
    width: 100px;
    height: 150px;
}

.bookCoverEdit div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.result{
    position: relative;
    padding-top: 9rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    min-width: 100vw;
    min-height: fit-content;
    max-height: 90vh;
    gap: 10px;

}

@media (max-width: 500px){
    .divNewButton{
        flex-direction: column;
    }
    .divNewButton > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px
    }
}

@media (max-width: 600px){
    .result{
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr;
        min-width: 100vw;
        min-height: 100vh;
        gap: 5px;
    }

    .divSearch, .divData{
        width: 90vw;
        min-height: 200px;
        border-width: 0 0 5px 0; /* top right bottom left */
        border-style: none none solid none;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) black rgba(0, 0, 0, 0);
    }

    
}

@media (max-width: 900px){
    .divNewSearch{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-width: 0 2px 5px 0; /* top right bottom left */
        border-style: none solid solid none;
        border-color: rgba(0, 0, 0, 0) black black rgba(0, 0, 0, 0);
        border-radius: 0 10px 10px 10px;
        width: fit-content;
        height: fit-content;
        padding: 5px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    flex: 0 0 auto;
    color: black;
    text-align: center;
    width: 100%;
    margin-top: 5px;
        border-width: 2px 0 0 0; /* top right bottom left */
        border-style: solid none none none;
        /* border-color: black rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); */
        background-color: beige;
}